.admin-btn {
  composes: cf-form-btn from '../../../assets/css/Global.css';
}

.admin-btn-create {
  composes: cf-form-btn from '../../../assets/css/Global.css';
  margin-top: 14px;
}

.card-padding {
  padding: calc($padding * 0.5) $padding;
}

.card-action-full {
  width: 100%;
}

.cf-progress {
  width: 100%;
  position: relative;
  margin-top: $padding;
  padding: 0 10%;
  &::before {
    content: 'Fetching projects from API..';
    display: block;
    text-align: center;
    font-size: 12px;
    color: $midGrey;
  }
}

/* projects list */
/* local vars */
$rowHeight: 62px;

/* projects list */
.cf-projects-list {
  display: block;
  float: left;
  width: 100%;
  margin: $padding 0;
  padding: 0;
  @media (min-width: $small) {
    padding: 0 $padding;
  }
}

.cf-project-link-item {
  width: 100%;
  height: calc($rowHeight * 1.5);
  float: left;
  opacity: 1;
  padding: 0 0 0 18px;
  margin-bottom: 10px;
  border: none;
  background-color: $darkGreyBlue;

  @media (min-width: $small) {
    height: $rowHeight;
  }

  & h6 {
    display: block;
    float: left;
    width: 100%;
    line-height: 1.2;
    margin: 12px 0 0;
    color: $lightGrey;
    font-weight: 700;

    @media (min-width: $small) {
      width: 60%;
    }

    & span {
      display: none;
      clear: both;
      font-size: 0.9rem;
      line-height: 1.2;
      margin: 4px 0 0;
      color: $midGrey;

      @media (min-width: $small) {
        display: block;
      }
    }
  }

  & a {
    float: left;
    display: inline-block;
    margin: 12px 18px 0 0;
    padding: 0;
    background-color: $coralPink;

    & i {
      color: $lightGrey;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: $lightCoralPink;
    }

    @media (min-width: $small) {
      float: right;
    }
  }

}
