.cf-progress {
  width: 100%;
  position: relative;
  margin-top: $padding;
  padding: 0 10%;
  &::before {
    content: 'Fetching API data..';
    display: block;
    text-align: center;
    font-size: 12px;
    color: $midGrey;
  }
}
