.cf-progress {
  width: 40%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  &::before {
    content: 'Fetching data..';
    display: block;
    text-align: center;
    font-size: 12px;
    color: $midGrey;
  }
}
