{
  "presets": ["es2015", "stage-3", "react"],
  "plugins": ["syntax-async-functions", "transform-runtime", "transform-regenerator"],
  "env": {
    "development": {
      "plugins": [["react-transform", {
        "transforms": [{
          "transform": "react-transform-hmr",
          "imports": ["react"],
          "locals": ["module"]
        }]
      }]]
    },
    "testing": {
      "plugins": [["transform-runtime", {
        "polyfill": false,
        "regenerator": true
      }]]
    }
  }
}
