.form-media-editor {
  display: block;
  position: relative;
  width: 100%;
  & ul {
    display: block;
    width: 100%;
    height: auto;
    & li {
      display: inline-block;
      margin-right: 10px;
      padding: 0;
      border: 1px solid color($midGrey alpha(80%));
    }
  }
}

.dropzone-loader {
  display: block;
  position: relative;
  width: 100%;
}

.loading-div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: color($blackGrey alpha(80%));
}

.cf-progress {
  width: 100%;
  position: relative;
  margin-top: 16px;
  padding: 0 10%;
  &::before {
    content: 'Uploading files..';
    display: block;
    text-align: center;
    font-size: 12px;
    color: $midGrey;
  }
}

.spacing {
  margin-right: 10px;
}

.dropzone {
  display: block;
  width: 100%;
  height: 80px;
  padding-top: $padding;
  border: 1px dashed $coralPink;
  border-radius: 2px;
  margin-top: $padding;
  margin-bottom: 10px;
  text-align: center;
  color: $lightGrey;
}
