.form-container {
  composes: cf-form-wide-global from '../../../assets/css/Global.css';
}

.card-padding {
  padding: calc($padding * 0.5) $padding;
}

.form-btn {
  composes: cf-form-btn from '../../../assets/css/Global.css';
}

.form-messages {
  composes: cf-form-messages-global from '../../../assets/css/Global.css';
}

.cf-progress {
  width: 100%;
  position: relative;
  margin-top: $padding;
  padding: 0 10%;
  &::before {
    content: 'Updating profile from API..';
    display: block;
    text-align: center;
    font-size: 12px;
    color: $midGrey;
  }
}

.admin-avatar-display {
  & figure {
    position: relative;
    top: auto;
    right: auto;
    margin: 0 auto;
  }
}

.table-div {
  display: table;
}
