.admin-nav {
  margin-bottom: $padding;
  padding-bottom: 2px;
  composes: border-bottom-gradient-to-left from '../../../assets/css/Global.css';
}

.admin-nav-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.admin-nav-back-btn {
  composes: cf-btn from '../../../assets/css/Global.css';
  @media (max-width: 320px) {
    font-size: 11px;
    & i {
      margin-right: 2px;
    }
  }
}

.logout-messages {
  composes: cf-form-messages-global from '../../../assets/css/Global.css';
  line-height: 2;
  margin-left: calc($padding * 0.5);
}

.logout-btn {
  composes: cf-form-btn from '../../../assets/css/Global.css';
  margin-left: calc($padding * 0.5);
}
