.cf-container {
  composes: cf-container-global from '../../../assets/css/Global.css';
}

.cf-main {
  composes: cf-main-global from '../../../assets/css/Global.css';
}

.cf-main-inner {
  composes: cf-main-inner-global from '../../../assets/css/Global.css';
}

.cf-nav-admin {
  height: $navHeight;
  composes: border-bottom-gradient-to-right from '../../../assets/css/Global.css';
}

.cf-logo {
  composes: cf-logo-global from '../../../assets/css/Global.css';
}
