/* custom selectors */
@custom-media --only-tablets (width > $small) and (width <= $medium);
@custom-media --only-iphone (width >= 320px) and (width <= 414px);

/* extenders */
@define-placeholder divider-gradient-vertical {
  background: linear-gradient(to top, $blackGrey 50%, rgba(19, 21, 24, 0) 100%);
}

.panel-height {
  height: 200px;
}

.cf-container {
  composes: cf-container-global from '../../assets/css/Global.css';
}

.cf-main {
  composes: cf-main-global from '../../assets/css/Global.css';
}

.cf-main-inner {
  composes: cf-main-inner-global from '../../assets/css/Global.css';
}

.cf-main-divider {
  display: block;
  position: absolute;
  width: 1px;
  left: 25%;
  top: 0;
  bottom: 0;
  @extend divider-gradient-vertical;
}

.cf-nav {
  height: $navHeight;
  composes: border-bottom-gradient-to-right from '../../assets/css/Global.css';

  @media (min-width: $medium) {
    height: auto;
  }

  & .cf-button-collapse {
    display: block;
    position: absolute;
    z-index: 1;
    width: $mobileMenuWidth;
    height: $mobileMenuHeight;
    line-height: $mobileMenuHeight;
    left: calc(($navHeight - $mobileMenuHeight) / 2);
    top: calc(($navHeight - $mobileMenuHeight) / 2);
    padding-top: calc(($mobileMenuHeight - $mobileMenuIconSize) / 2);
    padding-right: calc(($mobileMenuWidth - $mobileMenuIconSize) / 2);
    padding-bottom: calc(($mobileMenuHeight - $mobileMenuIconSize) / 2);
    padding-left: calc(($mobileMenuWidth - $mobileMenuIconSize) / 2);
    color: $lightGrey;
    border: 1px solid $blackGrey;
    @media (min-width: $medium) {
      display: none;
    }

    & i {
      font-size: $mobileMenuIconSize !important;
    }
  }

  /* projects */
  & .cf-projects {
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    width: $mobileNavWidth;
    max-width: $mobileNavWidthMax;
    transform: translateX(-100%);
    overflow-x: hidden;
    height: 100%;
    height: calc(100% + 60px);
    padding-bottom: 60px;
    background-color: $midGreyBlue;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    backface-visibility: hidden;
    box-shadow: 5px 1px 4px 0px color(black alpha(-35%));
    @media (min-width: $medium) {
      position: relative !important;
      transform: translateX(0%) !important;
      left: auto;
      top: auto;
      width: 100%;
      max-width: 100%;
      height: auto;
      padding-left: 0;
      padding-right: 0;
      background-color: transparent;
      box-shadow: none;
    }
  }

}
.cf-nav::after {
  @media (min-width: $medium) {
    display: none;
  }
}

.cf-content {
  min-height: $mainContentHeightMin;
}

/* base64 logo @2x */
.cf-logo {
  composes: cf-logo-global from '../../assets/css/Global.css';
}
