.form-techicons-editor {
  & select {
    max-width: 90%;
    margin-bottom: 0;
  }
}

.spacing {
  margin-right: 10px;
}

.minwidth-th {
  min-width: 40px;
}

.maxwidth-th {
  @media (max-width: $small) {
    width: 50%;
  }
}
