.cf-projects {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  transform: opacity $duration linear;

  & .project-name {
    display: block;
    float: left;
    width: 100%;
    margin: 4rem 0 0.8rem 0;
    padding: 0 $padding;
    font-size: 2.2rem;
    color: $lightGrey;
    text-transform: none;

    @media (min-width: $medium) {
      margin-top: 1.4rem;
      padding-top: 40px;
    }
  }

  & .project-client {
    display: block;
    float: left;
    width: 100%;
    line-height: 1;
    text-transform: none;
    margin-bottom: 1.5rem;
    padding: 0 $padding;
    color: $midGrey;

  }

  & .cf-project-description {
    display: block;
    float: left;
    width: 100%;

    & p {
      padding: 0 $padding;
      margin-right: 22px;
      line-height: 1.7;
    }

  }
}

.projects-back-to-top {
  margin-top: $padding;
  float: right;
  margin-right: 10px;
  composes: cf-btn from '../../assets/css/Global.css';
}

.projects-back-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  composes: cf-btn from '../../assets/css/Global.css';
}
