.form-container {
  composes: cf-form-wide-global from '../../../assets/css/Global.css';
}

.card-padding {
  padding: calc($padding * 0.5) $padding;
}

.form-btn {
  composes: cf-form-btn from '../../../assets/css/Global.css';
}

.form-messages {
  composes: cf-form-messages-global from '../../../assets/css/Global.css';
}

.table-div {
  display: table;
}
