.cf-icon-tech-chips {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  padding: 0 $padding;

  & i {
    display: block;
    position: absolute;
  }

  & .icon-tech-chips-group {
    display: block;
    width: 100%;
    float: left;
    height: auto;
    padding-left: 32px;

    & a {
      display: inline-block;
      margin-right: 14px;
    }
  }

}

.cf-chip {
  height: 26px;
  font-size: 13px;
  font-weight: normal;
  font-family: monospace;
  color: $lightGrey;
  line-height: 24px;
  padding: 0 12px;
  border-radius: 13px;
  background-color: $greyHighlight;
  border: 1px solid color($blackGrey alpha(-40%));
  margin-right: 7px;
  margin-bottom: 7px;
}
