@keyframes flipInX {
  from { transform: perspective(400px) rotate3d(1, 0, 0, 90deg); animation-timing-function: ease-in; opacity: 0; }
  40% { transform: perspective(400px) rotate3d(1, 0, 0, -20deg); animation-timing-function: ease-in; }
  60% { transform: perspective(400px) rotate3d(1, 0, 0, 10deg); opacity: 1; }
  80% { transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  to { transform: perspective(400px); }
}

.cf-avatar {
  display: block;
  margin: 20px auto;
  box-shadow: 0 0 6px $blackGrey;
  width: $avatarSize;
  height: $avatarSize;
  overflow: hidden;
  backface-visibility: visible !important;
  animation-name: flipInX;
  animation-timing-function: ease-in;
  animation-duration: calc($duration * 2.6);
  animation-fill-mode: backwards;
  animation-delay: $duration * 1;
  border-radius: calc($avatarSize / 2);
  border: 2px solid $lightGrey;
  background-size: 115%;
  background-position: center;
  background-color: $midGrey;

  @media (min-width: $medium) {
    position: absolute;
    margin: 0;
    top: 20px;
    right: 20px;
  }
}
